/*
    Дублировать переменные цветов в двух местах некрасиво, но я сейчас не хочу возиться с компилятором, чтобы настраивать
    компиляцию глобальных стилей, чтобы можно было переиспользовать переменные. Тем более, что мне нужна только одна.
*/

:root {
    --themeColor: #9454c4;
    --mainColor: #333333;
    --mainContrastColor: #ffffff;
}